input, button {
	display: block;
	padding: 5px 0;
	margin: 10px 0;
}

mark {
	background: white;
	font-size: 13px;
	font-weight: normal;
	color: #838080;
	display: block;
	margin-top: 35px;
}

.message {
	font-size: 13px;
}

.message--valid {
	color: green;
}

.message--invalid {
	color: red;
}

.inp--valid {
	border: 1px solid green;
}

.inp--invalid {
	border: 1px solid red;
}