html, body {
	/*font-size: 14px;*/
}

.list {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
}

ul {
	list-style: none;
	padding: 0;
}

header {
	text-decoration: underline;
}

.btn--buy {
	float: right;
	margin-left: 15px;
	color: #fff;
	background: #0a1624;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	padding: 5px 10px ;
}

.list__item {
	margin: 10px 0;
}

.list__mssg--empty {
	color: gray;
	font-size: 14px;
}

.clearfix {
	clear: both;
}